<!-- customers/reset_password.liquid -->
<section class="with-padding mb5">
  {% form 'reset_customer_password' %}
  {%- if form.errors -%}
  <div class="measure mx--auto mb3 form__status form__status--error">
    <div class="text-center f5 m0">
      {{ form.errors | default_errors }}
    </div>
  </div>
  {%- endif -%}
  <h1 class="page__title ff--heading text-center f2 uppercase h-underline">{{ 'customer.reset_password.title' | t }}</h1>
  <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

  <div class="form__content measure mx--auto mt4">
    <div class="form__row">
      <div class="form__input-group">
        <label for="password" class="form__label label--required">{{ 'customer.reset_password.password' | t }}</label>
        <input id="password"
              name="customer[password]"
              type="password"
              class="form__input {% if form.errors contains 'password' %} form__input--error{% endif %}"
              required
              >
      </div>
    </div>
    <div class="form__row">
      <div class="form__input-group">
        <label for="password_confirmation" class="form__label label--required">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input id="password_confirmation"
              name="customer[password_confirmation]"
              type="password"
              class="form__input {% if form.errors contains 'password_confirmation' %} form__input--error{% endif %}"
              required
              >
      </div>
    </div>
    <div class="form__row mt4">
      <button type="submit" class="btn btn--color-secondary uppercase ff--heading fw--bold ls06">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    </div>
  </div><!-- /.form__content -->

  {% endform %}

</section>
