
<div class="holder-ambassadors-img">
  <a href="https://wearmepro.refersion.com/?oid=35899">
    <figure class="hiden-mob"><img src="https://cdn.shopify.com/s/files/1/0896/5742/files/wmp_ambassador_landing_page_desktop_graphic1_05751950-b122-4487-9fd7-6441d66fee09.jpg?v=1634037329" alt=""></figure>
    <figure class="show-mob"><img src="https://cdn.shopify.com/s/files/1/0896/5742/files/wmp_ambassador_landing_page_mobile_graphic1.jpg?v=1634037329" alt=""></figure>
  </a>
  <figure class="hiden-mob"><img src="https://cdn.shopify.com/s/files/1/0896/5742/files/wmp_ambassador_landing_page_desktop_graphic2.png?v=1634038034" alt=""></figure>
  <figure class="show-mob"><img src="https://cdn.shopify.com/s/files/1/0896/5742/files/wmp_ambassador_landing_page_mobile_graphic2_1.png?v=1634038033" alt=""></figure>
</div> 


  <div class="works-bloks">
    <h2 class="uppercase lg--f2 md-dn--f4 mt0 mb3 ff--heading h-underline text-center">{{ section.settings.works-title }}</h2>
    <div class="row">
      <div class="col">
        
        <div class="box">
          <span>1</span>
          <img src="{{ section.settings.works_image-1 | img_url: 'master' }}" alt="{{  section.settings.works_image-1.alt }}">
          <h3>{{ section.settings.works_title_col-1 }}</h3>
          {{ section.settings.works_text_col-1 }}
        </div>
      </div>
      <div class="col">
       <div class="box">
          <span>2</span>
          <img src="{{ section.settings.works_image-2 | img_url: 'master' }}" alt="{{  section.settings.works_image-2.alt }}">
          <h3>{{ section.settings.works_title_col-2 }}</h3>
          {{ section.settings.works_text_col-2 }}
       </div>
      </div>
      <div class="col">
        <div class="box">
          <span>3</span>
          <img src="{{ section.settings.works_image-3 | img_url: 'master' }}" alt="{{  section.settings.works_image-3.alt }}">
          <h3>{{ section.settings.works_title_col-3 }}</h3>
          {{ section.settings.works_text_col-3 }}
        </div>
      </div>
    </div>
    <a href="{{ section.settings.works_btn_link }}" class="btn ff--heading fw--bold uppercase ls03 btn--color-secondary">{{ section.settings.works_title_btn }}</a>
  </div>
  <div class="holder-ambassadors-img" style="margin: 0 0 50px;">   
    <figure class="hiden-mob"><img src="https://cdn.shopify.com/s/files/1/0896/5742/files/wmp_ambassador_landing_page_desktop_graphic4_1.jpg?v=1634038118" alt=""></figure>
    <figure class="show-mob"><img src="https://cdn.shopify.com/s/files/1/0896/5742/files/wmp_ambassador_landing_page_mobile_graphic4.jpg?v=1634038118" alt=""></figure>
  </div>

  <style>
    .holder-ambassadors-img figure {
      margin: 0;
    }
    .holder-ambassadors-img figure img {
      width: 100%;
      vertical-align: top;
    }
    .show-mob {
      display: none;
    }
      .banner .holder-desc h1 {
        font-size: {{ section.settings.header_image_font_size_desktop }}px;
      }
      .banner .holder-desc .desc {
        font-size: {{ section.settings.header_image_font_size_desktop_text }}px;
        font-family: {{ section.settings.header_font }};
      }
      @media screen and (max-width: 767px) {
        .banner .holder-desc h1 {
            font-size: {{ section.settings.header_image_font_size_mobile }}px;
        }
        .banner .holder-desc .desc {
            font-size: {{ section.settings.header_image_font_size_mobile_text }}px;
        }
        .hiden-mob {
          display: none;
        }
        .show-mob {
          display: block;
        }
      }
  </style>

  {% schema %}
{
    "name": "Ambassadors Settings",
    "settings": [ 
      /* {
        "id": "banner_title",
        "type": "text",
        "label": "Banner title"
      },
      {
        "id": "banner_image",
        "type": "image_picker",
        "label": "Banner image"
      },
      {
        "id": "banner_text",
        "type": "richtext",
        "label": "Banner text"
      },
      {
        "id": "banner_title_btn",
        "type": "text",
        "label": "Banner Button text"
      },
      {
        "id": "banner_title_link",
        "type": "url",
        "label": "Banner Button link"
      },
      {
        "type": "select",
        "id": "horizontal_text_position",
        "options": [
          {
            "value": "left-text",
            "label": "Left"
          },
          {
            "value": "right-text",
            "label": "Right"
          },
          {
            "value": "center-text",
            "label": "Center"
          }
        ],
        "default": "center-text",
        "label": "Horizontal Text Positioning"
      },
      {
        "type": "select",
        "id": "vertical_text_position",
        "options": [
          {
            "value": "top-text",
            "label": "Top"
          },
          {
            "value": "bottom-text",
            "label": "Bottom"
          },
          {
            "value": "center-text",
            "label": "Center"
          }
        ],
        "default": "center-text",
        "label": "Vertical  Text Positioning"
      },
      {
        "type": "range",
        "id": "header_image_font_size_desktop",
        "min": 24,
        "max": 112,
        "step": 1,
        "unit": "px",
        "label": "Font Size Title – Desktop",
        "default": 50
      },
      {
        "type": "range",
        "id": "header_image_font_size_mobile",
        "min": 12,
        "max": 64,
        "step": 1,
        "unit": "px",
        "label": "Font Size Title – Mobile",
        "default": 30
      },
      {
        "type": "range",
        "id": "header_image_font_size_desktop_text",
        "min": 24,
        "max": 112,
        "step": 1,
        "unit": "px",
        "label": "Font Size Text – Desktop",
        "default": 50
      },
      {
        "type": "range",
        "id": "header_image_font_size_mobile_text",
        "min": 12,
        "max": 64,
        "step": 1,
        "unit": "px",
        "label": "Font Size Text – Mobile",
        "default": 30
      },
      {
      "type": "select",
      "id": "header_font",
      "label": "Banner Font",
      "options": [
        {
          "value": "WFHavanaSunset",
          "label": "Havana Sunset"
        },
        {
          "value": "ZonaPro",
          "label": "Zona Pro"
        }
      ],
      "default": "WFHavanaSunset"
    },
    {
        "id": "wmp-club-title",
        "type": "text",
        "label": "Wmp Club Title",
        "default": "Wmp Club Perks"
      },
      {
        "id": "wmp-club_text-1",
        "type": "richtext",
        "label": "Wmp Club Text Col-1"
      },
      {
        "id": "wmp-club_image-1",
        "type": "image_picker",
        "label": "Wmp Club Img Col-1"
      },
      {
        "id": "wmp-club_text-2",
        "type": "richtext",
        "label": "Wmp Club Text Col-2"
      },
      {
        "id": "wmp-club_image-2",
        "type": "image_picker",
        "label": "Wmp Club Img Col-2"
      },
      {
        "id": "wmp-club_text-3",
        "type": "richtext",
        "label": "Wmp Club Text Col-3"
      },
      {
        "id": "wmp-club_image-3",
        "type": "image_picker",
        "label": "Wmp Club Img Col-3"
      },
      {
        "id": "wmp-club_text-4",
        "type": "richtext",
        "label": "Wmp Club Text Col-4"
      },
      {
        "id": "wmp-club_image-4",
        "type": "image_picker",
        "label": "Wmp Club Img Col-4"
      },
      {
        "id": "wmp-club_text-5",
        "type": "richtext",
        "label": "Wmp Club Text Col-5"
      },
      {
        "id": "wmp-club_image-5",
        "type": "image_picker",
        "label": "Wmp Club Img Col-5"
      },
      {
        "id": "wmp-club_title_btn",
        "type": "text",
        "label": "Wmp Club Button text"
      },
      {
        "id": "wmp-club_btn_link",
        "type": "url",
        "label": "Wmp Club Button link"
      }, */
      {
        "id": "works-title",
        "type": "text",
        "label": "How it works Title",
        "default": "How it works"
      },
      {
        "id": "works_image-1",
        "type": "image_picker",
        "label": "How it works Img Col-1"
      },
      {
        "id": "works_title_col-1",
        "type": "text",
        "label": "How it works Title Col-1"
      },
      {
        "id": "works_text_col-1",
        "type": "richtext",
        "label": "How it works Text Col-1"
      },
      {
        "id": "works_image-2",
        "type": "image_picker",
        "label": "How it works Img Col-2"
      },
      {
        "id": "works_title_col-2",
        "type": "text",
        "label": "How it works Title Col-2"
      },
      {
        "id": "works_text_col-2",
        "type": "richtext",
        "label": "How it works Text Col-2"
      },
      {
        "id": "works_image-3",
        "type": "image_picker",
        "label": "How it works Img Col-3"
      },
      {
        "id": "works_title_col-3",
        "type": "text",
        "label": "How it works Title Col-3"
      },
      {
        "id": "works_text_col-3",
        "type": "richtext",
        "label": "How it works Text Col-3"
      },
      {
        "id": "works_title_btn",
        "type": "text",
        "label": "How it works Button text"
      },
      {
        "id": "works_btn_link",
        "type": "url",
        "label": "How it works Button link"
      }
      /* ,{
        "id": "block_image-1",
        "type": "image_picker",
        "label": "Img Col-1"
      },
      {
        "id": "block_image-2",
        "type": "image_picker",
        "label": "Img Col-2"
      },
      {
        "id": "block_image-3",
        "type": "image_picker",
        "label": "Img Col-3"
      } */
    ]
    
    
}
{% endschema %}