<!-- sections/product-template.liquid -->

{%- assign product_display_title = product.title | split: ' ' | first -%}
{%- if product.tags contains '__settings:full-title' -%}
  {% assign product_display_title = product.title -%}
{%- endif -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- assign has_styled_media = false -%}
{%- assign styled_images = '' -%}

{%- assign enable_bis = settings.enable_bis -%}

<style>
    .shopify-section.template {
      margin-top: 0;
    }
    .timer {
        font-family: "Zona Pro";
        font-weight: 700;
        font-size: 22px;
      text-align: center;
    margin: 0 0 30px;
    }
    .timer-display {
        display: flex;
        justify-content: center;
    }
    .timer-block__unit {
        display: block;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    .timer-block__num {
        width: 50px;
        border-radius: 5px;
        background: #ff8081;
        text-align: center;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        font-weight: 700;
    }
    .timer-separator {
        display: inline-block;
        margin: 10px 5px 0;
        font-size: 20px;
        font-weight: 700;
    }
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffd753;
        margin: 0 -12px 40px;

        padding: 10px 15px;

    }
    .banner img {
        max-width: 100%;
        height:auto;
    }
  #myBtn {
    display: none;
  }
    #myBtn button {
      position: fixed;
      right: 15px;
      bottom: 30px;
      line-height: 1;
      padding: 1em 3em;
      cursor: pointer;
    background-color: #52e2fe;
    background-image: linear-gradient(-180deg,#0fbbff 0,#52e2fe 100%);
      z-index: 99999;
      width: auto;
      border-radius: 0;
    padding: 1em 2em;
    font-size: var(--font-size-16px);
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      
      
    }
  #myBtn.active {
    display: block;
  }
    @media  screen and  (min-width: 901px) {
        .banner {
            margin: 0 -42px 40px;
        }
    }


    @media screen and (max-width: 900px) {
        .timer {
            font-size: 15px;
        }
        .timer-display {
            justify-content: center;
        }

      #myBtn button {

          right: 0;
          bottom: 0;
          width: 100%;   
          width: 100%;
      }
    }
  
  .text-new {
        font-family: 'Zona Pro', sans-serif;
        font-weight: 700;
    }
  .show-mob.text-new {
        margin: 0 5px 0 0;
        font-size: 13px;
        width: 50%;
        text-align: center;
    }

  @media  screen and  (min-width: 900px) {
  .show-mob {
       display: none;
    }
  }

  @media  screen and  (max-width: 900px) {
    .show-desctop {
       display: none;
    }
    .product-section__label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  
</style>
{% assign styled_class = '' %}
{% assign styled_class = 'it-styled' %}


<section class="{{ classes }} {{ styled_class }} template-abner"
		 data-section-id="{{ section.id }}"
         data-section-type="product"
         data-enable-bis={{ enable_bis | json }}
         data-product-id="{{ product.id }}"
         {% if product.selected_variant %}
         data-selected-variant="true"
         data-selected-variant-id="{{ product.selected_variant.id }}"
         {% if product.selected_variant.featured_media %}
         data-selected-variant-featured-media="true"
         data-selected-variant-featured-media-id="{{ product.selected_variant.featured_media.id }}"
         {% endif %}
         {% else %}
         data-selected-variant="false"
         {% endif %}
         data-enable-history-state="true">
  
  <div class="countdown-KT-full-width hide-KT countdownultimate-KT mobile-cc" style="margin-top: 10px;">{% render 'preorder-now-collection-item', product: product %}</div>
  {% if product.template_suffix == 'landing' %}
    <div class="banner">
        <img src="https://cdn.shopify.com/s/files/1/0896/5742/files/logo-landing.png?v=1615893261" style="width: 100px; height: auto;">
    </div>
  {% endif %}
  
  <div class="product-section">
    <div class="product-section__desktop-media lg--px2 lg--pt2 lg--pb0">
      <div id="product-section-desktop-slideshow-{{ section.id }}"
           class="" >
        {% for media in product.media %}
          {% assign media_alt_dc = media.alt | downcase %}
          {% unless media_alt_dc contains 'styled' %}
        	  {% assign alt_split = media.alt | split: ' || '  %}
              {% assign filter_alt = alt_split[0] | downcase | replace: ' ', '-' | replace: '/', '-' %}
              {% assign original_alt = alt_split[1] %}
            <div class="product-section__media-single {{ filter_alt }}"
                 data-media-index="{% increment desktop_media_index %}"
                 {% if product.selected_variant.featured_media and product.selected_variant.featured_media.id == media.id %}
                 data-initial-media
                 {% endif %}
                 data-single-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'media', media: media, ratio: media.aspect_ratio, alt: original_alt %}
            </div>
          {% else %}
            {% assign has_styled_media = true %}
            {% if media.media_type == 'video' %}
              {% assign styled_video = styled_video | append: media.id | append: ' ' %}
            {% else %}
              {% assign styled_images = styled_images | append: media.id | append: ' ' %}
            {% endif %}
          {% endunless %}
        {% endfor %}
        {% assign styled_video_array = styled_video | strip | split: ' ' %}
        {% assign styled_images_array = styled_images | strip | split: ' ' %}
        {% assign styled_media_array = styled_video_array | concat: styled_images_array %}
      </div>
      {% comment %} <div id="product-section-desktop-thumbnails-{{ section.id }}"
           class="product-section__desktop-thumbnails my2"
           data-product-media-thumbnails>
        {% for media in product.media %}
          {% assign media_alt_dc = media.alt | downcase %}
          {% unless media_alt_dc contains 'styled' %}
              {% assign alt_split = media.alt | split: ' || '  %}
              {% assign filter_alt = alt_split[0] | downcase | replace: ' ', '-' | replace: '/', '-' %}
              {% assign original_alt = alt_split[1] %}
            <div class="product-section__thumbnail mx2 {{ filter_alt }}"
                 data-media-index="{% increment desktop_thumbnail_index %}"
                 {% if product.selected_variant.featured_media and product.selected_variant.featured_media.id == media.id %}
                 data-initial-media
                 {% endif %}
                 data-target-media-id="{{ section.id }}-{{ media.id }}">
              {% render 'media', media: media, ratio: media.aspect_ratio, alt: original_alt %}
            </div>
          {% endunless %}
        {% endfor %}
      </div> {% endcomment %}
    </div>
    <div class="product-section__info lg--px3 lg--pt3 lg--pb0 ">       
      <h1 class="product-section__title f2 fw--bold uppercase mt0 mb2">
        {{ product_display_title }}
      </h1>
      {% render 'product-label', product: product, extra_classes: 'mt2 lg--mt1 mb2 lg--hide' %}

      <div class="product-section__label">
        
        {% render 'product-label', product: product, extra_classes: 'mt2 lg--mt1 mb2 md-dn--hide' %}
      
        <div class="variation-name">
            {% for variant in product.variants %}
                {% if variant.id == current_variant.id %}
                   Color: <span>{{ variant.title }}</span>
                {% endif %}
            {% endfor %}
        </div>
        <div class="product-badge ">
        {% render 'product-template-badges', product: product, current_variant: current_variant %}
        </div>
      </div>
      {%- if product.available -%}
            {%- assign new_data = false -%}
            {%- assign top_data = false -%}
            {%- for collection in product.collections -%}
                {%- if collection.handle == settings.new_items_collection or collection.handle == settings.new_items_collection2 -%}
                    {%- assign new_data = true -%}
                {%- endif -%}
                {% if collection.handle == 'top-rated-womens' or collection.handle == 'top-rated-mens' %}
                    {% assign top_data = true %}
                {% endif %}
            {%- endfor -%}
        {% endif %}
      


      
      <div class="product-section__stars mb2 lg--text-left ">
        {% render 'okendo-reviews-product-rating-summary', product: product %}
      </div>
      <div class="product-section__price ff--heading f3 md-dn--f3   uppercase ">
        {% render 'product-price', variant: current_variant, product: product %}
      </div>
      <div class="variation-name-desktop">
          {% for variant in product.variants %}
              {% if variant.id == current_variant.id %}
                  Color: <span>{{ variant.title }}</span>
              {% endif %}
          {% endfor %}
      </div>
      {% unless product.template_suffix == 'variant-select' %}
      
      <div class="product-section__variant-thumbnails mxn2 my2"
           data-variant-thumbnails>
        <div class="md-dn--inline-block mx2">
          <div class="product-section__variant-thumbnails-scroll-container">
          {% for variant in product.variants %}
            {%- assign on_sale = false -%}
              {%- if variant.compare_at_price > current_variant.price -%}
                  {%- assign on_sale = true -%}
              {% endif %}
            {% assign data_filter = variant.title | downcase | replace: ' ', '-' | replace: '/', '-' %}
          <div class="product-section__variant-thumbnail{% if variant.id == current_variant.id %} is-active{% endif %} mx2 p1 lg--my2 js-tippy"
               data-tippy-content="{{ variant.title }}"
               data-prescription-btn="{{variant.metafields.shopwearmepro.prescription_btn}}" 
               data-variant-id="{{ variant.id }}"
               data-variant-option1="{{ variant.option1 }}"
               data-variant-option2="{{ variant.option2 }}"
               data-variant-option3="{{ variant.option3 }}"
               data-filter="{{ data_filter }}"
               data-is-stock="{{  variant.available }}"
               data-sale="{{  on_sale }}"
               data-new="{{ new_data }}"
               data-top="{{ top_data }}"
               data-variant-thumbnail>
            {% render 'media', media: variant.featured_media, ratio: variant.featured_media.aspect_ratio %}
          </div>
          {% endfor %}
          </div>
        </div>
      </div>
      {% endunless %}
      

      {% assign show_promo_text = false %}
        {% for loop_collection in product.collections %}
            {% if loop_collection.handle == settings.promo_collection %}
                {% assign show_promo_text = true %}
            {%endif%}
        {%endfor%}
      {% if show_promo_text %}
      <div class="product-section__bl-promo-text text-center ls12 uppercase ff--heading fw--bold" style="color: {{ settings.bl_promo_color }}">
        <p class="md-dn--mt0 lg--mb0">{{ settings.bl_promo_text }}</p>
      </div>
      {% endif %}
      <div class="product-section__form  ">
        {%- capture form_classes -%}
        {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
        {%- endcapture -%}         
        {% form 'product', product, class: form_classes, novalidate: 'novalidate', data-product-form: '' %}
        {% unless product.has_only_default_variant %}
          {% assign show_variant_select = false %}
          {% if product.template_suffix contains 'variant-select' %}
            {% assign show_variant_select = true %}
          {% endif %}
          <div class="mt2 lg--mb4 {% unless show_variant_select %}visually-hidden{% endunless %}">
            {% for option in product.options_with_values %}
              <div class="">
                <label for="SingleOptionSelector-{{ forloop.index0 }}"
                       class="block full-width mb2">
                  {{ option.name }}
                </label>
                <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                        id="SingleOptionSelector-{{ forloop.index0 }}"
                        data-index="option{{ forloop.index }}">
                  {% for value in option.values %}
                    <option value="{{ value | escape }}"
                            {% if option.selected_value == value %} selected="selected"{% endif %}
                            >
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          </div>
        {% endunless %}

        <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
            {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
            {% endif %}
          {% endfor %}
        </select>

        {% comment %}
            Uncomment this and replace the product ID
            to show product-specific notices
        {% if product.id == 4610920644697 %}
        <div class="product-form__shipping-notice my2">
          <span class="color--warning">This item will ship by October 6, 2020</span>
        </div>
        {% endif %}
        {% endcomment %}
        
        {% if product.handle == 'jules-round-retro-blue-ligh-blocking-glasses' or product.handle == 'alex-square-modern-metal-frame-blue-light-blocking-computer-glasses' %}
              <div class="mob-show">
                <div>
                 {{ section.settings.mobile_title }}
                </div>
                  {%- assign img_url = section.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  {%- assign widths = '[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]' -%}
                <div class="holder-img">
                  <img id="{{ image_id }}"
                       src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       class="lazyload"
                       data-src="{{ img_url }}"
                       data-widths="{{ widths }}"
                       data-sizes="auto"
                       data-image>
                </div>
              </div>
        {% endif %}

       
     
        <div class="product-section-form-actions md-dn--mt1 lg--mt2 lg--mxn1{% if enable_bis and current_variant.available == false %} hide{% endif %}"
             data-available-actions>
          {% if template != 'product.landing' %}
          <div class="product-section-form-actions__item lg--mx1 md-dn--my1 product-section-form__add-to-cart">
            <button class="btn btn--product-section-form uppercase f--16px--force fw--bold ls03 bg-gradient--green btn-new"
                    {% unless current_variant.available %}
                    aria-disabled="true"
                    {% endunless %}
                    aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}"
                    {% endunless %}
                    data-add-to-cart
                    type="submit">
              {% unless current_variant.available %}
                <span data-add-to-cart-text>{{ 'products.product.sold_out' | t }}</span>
              {% else %}
                <span data-add-to-cart-text>{{ 'products.product.add_to_cart' | t }}</span>
              {% endunless %}
              <span class="hide" data-loader>
                Loading…
              </span>
            </button>
            <a href="#" class="btn btn-new prescription-btn">Get In Prescription</a>
          </div>
          
            {% endif %}
        </div>
     
        
        
        <div class="countdown-KT-full-width hide-KT countdownultimate-KT desktop-cc"></div>
        <style>

          .desktop-cc { display: none; }
          .mobile-cc { display: none; margin: 0 !important; }
          @media (min-width: 901px) {
            .mobile-cc { display: none; }
            .desktop-cc { display: inline-block; }
          }
        </style>

        {% if enable_bis %}
        <div class="product-section-form-actions my3 md-dn--mt1 lg--mxn1 {% if current_variant.available %}hide{% endif %}"
             data-bis-actions>
          <div class="product-section-form-actions__item lg--mx1 md-dn--my1 product-section-form__add-to-cart ">
            <button class="btn btn--product-section-form uppercase f5 bg-gradient--orange"
                    id="BIS_trigger"
                    type="button"
                    data-variant-id="{{ current_variant.id }}"
                    data-bis-trigger>
              <span>{{ 'products.product.bis_long' | t }}</span>
            </button>

            <a href="#" class="btn btn-new prescription-btn">Get In Prescription</a>
          </div>
        </div>
        {% endif %}

        {% endform %}
      </div>
      {% assign show_coutdown = false %}
        {% for collection in product.collections %}
            {% if collection.handle == settings.countdown_collection %}
                {% assign show_coutdown = true %}
            {% endif %}
        {%endfor%}
      
        {% assign countdown_date_in_seconds = settings.countdown_date | date: '%s' %}
        {% assign now_in_seconds = 'now' | date: '%s' %}
        
        {% if show_coutdown and countdown_date_in_seconds > now_in_seconds %}

            <div class="timer">
                {{ settings.countdown_text }}
                <div class="timer-display">
                    <div class="timer-block">
                        <span class="timer-block__num js-timer-days">00</span>
                        <span class="timer-block__unit">Days</span>
                    </div>
                    <span class="timer-separator">:</span>
                    <div class="timer-block">
                        <span class="timer-block__num js-timer-hours">00</span>
                        <span class="timer-block__unit">Hrs</span>
                    </div>
                    <span class="timer-separator">:</span>
                    <div class="timer-block">
                        <span class="timer-block__num js-timer-minutes">00</span>
                        <span class="timer-block__unit">Min</span>
                    </div>
                    <span class="timer-separator">:</span>
                    <div class="timer-block">
                        <span class="timer-block__num js-timer-seconds">00</span>
                        <span class="timer-block__unit">Sec</span>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="product-badge mob">
          {% render 'product-template-badges', product: product, current_variant: current_variant %}
        </div>
        {% if product.tags contains 'customer-images' %}
          {% assign output_customer_images = true %}
          {% assign total_tabs = 5 %}
        {% else %}
          {% assign output_customer_images = false %}
          {% assign total_tabs = 5 %}
        {% endif %}
        <div style="order: 9;">
          {% if output_customer_images %}
          <div id="foursixty-hideable-container" class="lg--hide ">
                <h2 class="f2 mt0 mb3 fw--bold uppercase ">STYLE INSPIRATION</h2>
                <div class="  md-dn--mt3  mx--auto">
                  <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="wearme-pro" data-url-related="true" data-theme="slider_v2_5" data-open-links-in-same-page="true" data-show-okendo-stars="true" data-cell-size="25%" data-has-posts-selector="#foursixty-hideable-container" data-for-url="true"></script>
                </div>
            </div>
          <style>
           
            .fs-has-links::after { padding:9px 13.5px; border:1px solid rgba(255,255,255,1); color:rgba(255,255,255,1); content:"SHOP THE LOOK" } .fs-has-links:hover:after { background-color:rgba(255,255,255,1); color:rgba(124,207,182,0.5) } .fs-entry-container {  width:25% !important; height: 25% !important } path.fs-arrow { stroke: #222 } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Times New Roman, serif; font-style:normal; font-weight:normal; font-size:14px } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-style:normal; font-weight:normal; font-size:14px } .fs-wrapper div.fs-text-container * { color:rgba(255,255,255,1) } .fs-wrapper div.fs-text-container { background-color:rgba(124,207,182,0.5); margin:0px } div.fs-entry-date { display:none } div.fs-entry-title { display:none } .fs-wrapper div.fs-timeline-entry { margin:6px }
            #foursixty-hideable-container h2 { text-align: center;     margin: 30px 0 60px;} 
            #foursixty-hideable-container p {
                font-size: 25px;
            text-align: center;
                    margin: 0 0 20px;
            }
          </style>
         {% endif %}
        </div>
      
      
      <div class="product-section__tabs md-dn--mb3 product-section-tabs"
           data-tabs-container>
        
        {% comment %} {% include 'product-icons' %}  {% endcomment %}
        <ul class="custom_icon_lists">
          <li class="icon_item">
            <img class="ships_for_free_img" src="{{'ships_for_free1.png' | asset_url}}">
            <p><strong>{{section.settings.shipping_text}}</strong></p>
            {% assign days = section.settings.shipping_date | times: 86400 %} 
            <p>Expected Arrival: <strong>{{ "now" | date: "%s" | plus: days | date: "%a, %d, %b"}} </strong>
            <span class="tooltip">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17.5" viewBox="0 0 16 17.5">
                <g id="item_175" data-name="Item 175" transform="translate(-1628 -525)">
                  <g id="image_13" data-name="image 13" transform="translate(1628 526.5)" fill="none" stroke="#282828" stroke-width="1">
                    <circle cx="8" cy="8" r="8" stroke="none"/>
                    <circle cx="8" cy="8" r="7.5" fill="none"/>
                  </g>
                  <text id="_" data-name="?" transform="translate(1633 539)" fill="#282828" font-size="13" font-family="SegoeUI-Semibold, Segoe UI" font-weight="600"><tspan x="0" y="0">?</tspan></text>
                </g>
              </svg>
              <span class="tooltiptext">{{ section.settings.tooltip_text}}</span>
            </span>
            </p>
            
          </li>
          <li class="icon_item">
            <p><strong>{{ section.settings.eyewear_text}}</strong></p>
            <p>{{ section.settings.animal_text}}</p>
          </li>
        </ul>
        <ul class="product-section-tabs__tabs">
          {% for i in (1..total_tabs) %}
          <li class="tabs__tab ff--heading f5 fw--bold uppercase {% if i == 4 %}lg--hide{% endif %}"
              data-tab="{{ i }}">
            {%- case i -%}
              {%- when 1 -%}
                Description
              {%- when 2 -%}
                Shipping
              {%- when 3 -%}
                Size Chart 
              {%- when 4 -%}
                FIT GUIDE             
            {%- endcase -%}
          </li>
          {% endfor %}
        </ul>

        {% for i in (1..total_tabs) %}
        <div class="tabs__accordion-tab ff--heading f5 fw--bold uppercase"
             {% if i == 1 %}
             data-initial-tab
             {% endif %}
             data-accordion-tab
             data-tab="{{ i }}">
            {%- case i -%}
              {%- when 1 -%}
                Fair Pricing
              {%- when 2 -%}
                Description
              {%- when 3 -%}
                Shipping
              {%- when 4 -%}
                Size Chart 
              {%- when 5 -%}
                FIT GUIDE               
            {%- endcase -%}
        </div>
        
        <div class="product-section-tabs__content text-left lh--copy"
             {% if i == 1 %}
             data-initial-tab-content
             {% endif %}
             data-tab-content="{{ i }}">
          {% case i %}
            {%- when 1 -%}
              <div class="product-section-tabs__content-wrapper py3 px4"
                   data-tab-content-wrapper>
                <img src="{{section.settings.fair_pricing_img | img_url: 'master'}}" width="100%">
              </div>
            {%- when 2 -%}
            <div class="product-section-tabs__content-wrapper py3 px4"
                 data-tab-content-wrapper>
              <div class="rte f5--force product-section__description"
                  data-product-description>
                {{ product.description }}
              </div>
            </div>
            {%- when 3 -%}
            <div class="product-section-tabs__content-wrapper py3 px3"
                 data-tab-content-wrapper>
              <div class="product-section-tabs__shipping-tab">
                <div class="shipping-tab__text">
                  {% assign shipping_spend_string = settings.cart_free_shipping_threshold | prepend: '$' %}
                  {{ section.settings.shipping_html | replace: '__FREE_SHIPPING_SPEND__', shipping_spend_string }}
                </div>
                <div class="shipping-tab__image md-dn--mt3">
                  {% render 'responsive-image', image: section.settings.shipping_image %}
                </div>
              </div>
            </div>
            {%- when 4 -%}
            <div class="product-section-tabs__content-wrapper  py3 px4"
                 data-tab-content-wrapper>
                {% if product.tags contains "svg_leaf" or  product.tags contains "svg_meadow" or  product.tags contains "svg_willow" %}
                  {% if product.tags contains "svg_leaf" %}
                    {% render 'product-svg-leaf' %}
                  {% endif %}
                  {% if product.tags contains "svg_meadow" %}
                   {% render 'product-svg-meadow' %}                  
                  {% endif %}
                  {% if product.tags contains "svg_willow" %}
                   {% render 'product-svg-willow' %}
                  {% endif %}
                  {% else %}
                  {% render 'product-svg' %}
                {% endif %}
              {% render 'product-dimensions-style' %}
            </div>
            {%- when 5 -%}
            <div class="product-section-tabs__content-wrapper py3 px4"
                 data-tab-content-wrapper>
              <div class="rte f5--force product-section__description font-zona"
                  data-product-description>               
                  <p><strong>Head Size:</strong></p>                  
                  <ul class="head-size-list">
                    <li><span class="{%- if product.tags contains 'Head_Small' -%}active{%- endif -%}"></span> Small</li>
                    <li><span class="{%- if product.tags contains 'Head_Medium' -%}active{%- endif -%}"></span> Medium</li>
                    <li><span class="{%- if product.tags contains 'Head_Large' -%}active{%- endif -%}"></span> Large</li>
                  </ul>
                  <p><strong>Ideal Face Shape:</strong></p>
                  <p class="text-center">
                    {%- if product.tags contains 'Shape_Oval' -%}Oval,&ensp;{%- endif -%}
                    {%- if product.tags contains 'Shape_Round' -%}Round,&ensp;{%- endif -%}
                    {%- if product.tags contains 'Shape_Square' -%}Square,&ensp;{%- endif -%}
                    {%- if product.tags contains 'Shape_Diamond' -%}Diamond,&ensp;{%- endif -%}
                    {%- if product.tags contains 'Shape_Heart' -%}Heart&ensp;{%- endif -%}
                  </p>
              </div>
            </div>
           
          {% endcase %}
          
          <div class="product-section-tabs__content-overflow hide" data-content-overflow></div>
        </div><!-- /.product-section-tabs__content -->
        {% endfor %}
      </div>
    </div><!-- /.product-section__info -->
  </div><!-- /.product-section -->

 
  {% comment %} {% if has_styled_media %}
      <div id="mobile-see-it-styled" class="product-section__mobile-see-it-styled mt3">
        <h2 class="f3 mt0 mb3 fw--bold uppercase" style="text-align: center;">See It Styled</h2>
        <div class="mobile-see-it-styled" data-mobile-see-it-styled>
          {% for media_id in styled_media_array %}
            {% assign media_id_number = media_id | plus: 0 %}
            {% assign styled_media = product.media | where: 'id', media_id_number | first %}
          	{% assign alt_split = styled_media.alt | split: ' || '  %}
            {% assign filter_alt = alt_split[0] | downcase | replace: ' ', '-' | replace: '/', '-' %}
            <div class="mobile-see-it-styled__item see-it-styled-item {{filter_alt}}">
              {% render 'media', media: styled_media, ratio: styled_media.aspect_ratio %}
            </div>
          {% endfor %}
        </div>
      </div>
  {% endif %} {% endcomment %}

  {% if output_customer_images %}
  <div id="foursixty-hideable-container" class="md-dn--mt3 mt6 mb4">
        <h2 class="f2 mt0 mb3 fw--bold uppercase ">STYLE INSPIRATION</h2>
        <div class="desktop-see-it-styled-container  md-dn--mt3  mx--auto">
        <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="wearme-pro" data-url-related="true" data-theme="slider_v2_5" data-open-links-in-same-page="true" data-show-okendo-stars="true" data-cell-size="25%" data-has-posts-selector="#foursixty-hideable-container" data-for-url="true"></script>
    </div>
        </div>
  <style>
    .desktop-see-it-styled-container {
      max-width: 100% !important;
    }
            .fs-has-links::after { padding:9px 13.5px; border:1px solid rgba(255,255,255,1); color:rgba(255,255,255,1); content:"SHOP THE LOOK" } .fs-has-links:hover:after { background-color:rgba(255,255,255,1); color:rgba(124,207,182,0.5) } .fs-entry-container { width:25% !important; height: 25% !important } path.fs-arrow { stroke: #222 } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title { font-family:Times New Roman, serif; font-style:normal; font-weight:normal; font-size:14px } div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text { font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-style:normal; font-weight:normal; font-size:14px } .fs-wrapper div.fs-text-container * { color:rgba(255,255,255,1) } .fs-wrapper div.fs-text-container { background-color:rgba(124,207,182,0.5); margin:0px } div.fs-entry-date { display:none } div.fs-entry-title { display:none } .fs-wrapper div.fs-timeline-entry { margin:6px }
    #foursixty-hideable-container h2 { text-align: center;     margin: 30px 0 60px;}
    @media (max-width: 767px) {
      #foursixty-hideable-container h2 { margin: 30px 0 24px;}
    } 
    #foursixty-hideable-container p {
        font-size: 25px;
    text-align: center;
            margin: 0 0 20px;
    }
  </style>
  {% endif %}

  {% comment %} {% if has_styled_media %}
  <div class="desktop-see-it-styled-container filter-it-styled mt6 md-dn--mt3 text-center mx--auto md-dn--hide">
    <h2 class="f2 mt0 mb3 fw--bold uppercase">See It Styled</h2>
    <div class="desktop-see-it-styled mxn2"
         data-desktop-see-it-styled>
      {% for media_id in styled_media_array %}
        {% assign media_id_number = media_id | plus: 0 %}
        {% assign styled_media = product.media | where: 'id', media_id_number | first %}
      	{% assign alt_split = styled_media.alt | split: ' || '  %}
          {% assign filter_alt = alt_split[0] | downcase | replace: ' ', '-' | replace: '/', '-' %}
        <div class="desktop-see-it-styled__item mx2 see-it-styled-item {{ filter_alt }}">
          {% render 'media', media: styled_media, ratio: styled_media.aspect_ratio %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endcomment %}
  {% assign variant = product.selected_or_first_available_variant %}
  {% if variant.metafields.custom.first_title != blank and variant.metafields.custom.second_title != blank %}
  <div class="product_suspendisse">
    <div class="item" style="background-color: #F8F8F8;">
      <div class="text_content desktop">
        {% if variant.metafields.custom.first_title != blank %}
          <h2 class="heading uppercase fw--bold">{{variant.metafields.custom.first_title}}</h2>
        {% endif %}
        {% if variant.metafields.custom.first_text != blank %}
          <div class="text">{{variant.metafields.custom.first_text}}</div>
        {% endif %}
      </div>
      <div class="text_content mobile">
        {% if variant.metafields.custom.first_title != blank %}
          <h2 class="heading uppercase fw--bold">{{variant.metafields.custom.first_title}}</h2>
        {% endif %}
        {% if variant.metafields.custom.first_text != blank %}
          <div class="text">{{variant.metafields.custom.first_text}}</div>
        {% endif %}
      </div>
      <div class="image_contents">
        {% if variant.metafields.custom.first_image != blank %}
          <img src="{{variant.metafields.custom.first_image | img_url: 'master'}}">
        {% endif %}
      </div>
    </div>
    
    <div class="item">
      <div class="text_content mobile">
        {% if variant.metafields.custom.second_title != blank %}
          <h2 class="heading uppercase fw--bold">{{variant.metafields.custom.second_title}}</h2>
        {% endif %}
        {% if variant.metafields.custom.second_text != blank %}
          <div class="text">{{variant.metafields.custom.second_text}}</div>
        {% endif %}
      </div>
      <div class="image_contents">
        {% if variant.metafields.custom.second_image != blank %}
          <img src="{{variant.metafields.custom.second_image | img_url: 'master'}}">
        {% endif %}
      </div>
      <div class="text_content desktop">
        {% if variant.metafields.custom.second_title != blank %}
          <h2 class="heading uppercase fw--bold">{{variant.metafields.custom.second_title}}</h2>
        {% endif %}
        {% if variant.metafields.custom.second_text != blank %}
          <div class="text">{{variant.metafields.custom.second_text}}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
  

  
</section>
<style>
  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  .tooltip .tooltiptext {
    width: 200px;
    top: 100%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  </style>
  {% unless product == empty %}
    <script type="application/json" id="ProductJson-{{ section.id }}">
      {{ product | json }}
    </script>
  {% endunless %}


{% schema %}
{
  "name": "Product",
  "class": "template template--product",
  "settings": [
    {
      "type": "header",
      "content": "Shipping",
      "info": "You can set shipping date and text"
    },
    {
      "type": "text",
      "id": "shipping_text",
      "label": "Shipping text",
      "default": "FREE 2-Day Shipping With Orders Over $65"
    },
    {
      "type": "range",
      "id": "shipping_date",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "day",
      "label": "Shipping date",
      "default": 2
    },
    {
      "type": "text",
      "id": "tooltip_text",
      "label": "Tooltip text",
      "default": "After your qualifying order over $65 has been processed (1-2 business days), you can expect to receive your package by the end of the second business day. Shipping data is based on shipments within the US."
    },
    {
      "type": "text",
      "id": "eyewear_text",
      "label": "Eyewar text",
      "default": "WMP EYEWEAR: WORN & MADE WITH PURPOSE"
    },
    {
      "type": "text",
      "id": "animal_text",
      "label": "Animal text",
      "default": "Each order helps an animal in need"
    },
    {
      "type": "header",
      "content": "Fair Pricing tab"
    },
    
    {
      "type": "image_picker",
      "id": "fair_pricing_img",
      "label": "Fair pricing image"
    },
    {
      "type": "header",
      "content": "Shipping tab"
    },
    {
      "type": "html",
      "id": "shipping_html",
      "label": "Shipping tab content"
    },
    {
      "type": "image_picker",
      "id": "shipping_image",
      "label": "Shipping tab image"
    },
	{
        "type": "html",
        "id": "mobile_title",
        "label": "Title for Jules and Alex"
    },
    {
        "type": "text",
        "id": "mobile_text",
        "label": "Text for Jules and Alex"
    },
    {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Image for Jules and Alex"
    }
  ],
  "blocks": [
    {
      "type": "suspendisse",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Suspendisse fermentum"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
  
}
{% endschema %}


