<!-- sections/reviews-slideshow--blue-light.liquid -->
<section class="full-bleed"
         data-section-id="{{ section.id }}"
         data-section-type="reviews-slideshow">
  {% if section.settings.heading_mobile != blank %}
    <h1 class="reviews-slideshow-title mt6 mb5 ff--heading text-center lg--hide">{{ section.settings.heading_mobile }}</h1>
  {% endif %}
  {% if section.settings.heading != blank %}
    <h1 class="mt3 mb5 ff--heading fw--normal f1 text-center md-dn--hide">{{ section.settings.heading }}</h1>
  {% endif %}
  <div class="reviews-slideshow-background lazyload"
       data-bgset="{% include 'data-srcset-asset', asset_image_name: 'pattern-white.png', sizes: '200, 500, 1000, 1500' %}"
       data-sizes="auto">
    <div class="reviews-slideshow-container pb0 js-reviews-container-{{ section.id }}">
      {% for block in section.blocks %}
      <div class="reviews-slideshow__review-container" {{ block.shopify_attributes }}>
        <div class="reviews-slideshow__review">
          <div class="reviews-slideshow__review__customer">
            <div class="reviews-slideshow__review__customer__photo">
              <div class="reviews-slideshow__review__customer__photo__image">
                {% render 'responsive-image',
                  image: block.settings.image,
                  extra_classes: 'responsive-image--circle',
                  aspect_ratio: 1,
                  crop: 'center'
                %}
              </div>
            </div>
          </div>
          <div class="reviews-slideshow__review__body ff--body">
            {{ block.settings.body }}
            <p></p>
            <p class="ff--body"><strong>{{ block.settings.title }}</strong></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="py3 text-center">
      <a class="btn btn--tertiary btn--tertiary--solid ff--heading fw--bold uppercase ls03"
         href="/pages/reviews">
        Read More Reviews
      </a>
    </div>
  </div>

</section>
{% schema %}
{
  "name": "Reviews (Blue Light)",
  "class": "homepage-section section--reviews-slideshow",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Customer Reviews"
    },
    {
      "type": "text",
      "id": "heading_mobile",
      "label": "Heading – Mobile",
      "default": "Real Reviews From Real Customers"
    }
  ],
  "blocks": [
    {
     "type": "review",
     "name": "Review",
     "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Name"
      },
      {
        "id": "image",
        "type": "image_picker",
        "label": "Image"
      },
      {
        "id": "body",
        "type": "richtext",
        "label": "Review text"
      }
     ]
    }
  ]
}
{% endschema %}
