<section class="welcome-box">
    <div class="welcome-box__video">
        <video autoplay="" class="video-frame" id="myPlayer" loop="" muted="" playsinline="" width="100%">
            <source src="{{section.settings.video_url}}" type="video/mp4">
        </video>
        <div class="container">
            <div class="welcome-box__text text-center">
                <div class="welcome-box__box">
                    <div class="welcome-box__left">
                        {% if section.settings.logo_id %}
                            <img class="lazyload" data-src="{{ section.settings.logo_id | img_url: 'master' }}" alt="{{ section.settings.logo_id.alt }}">
                        {% endif %}
                    </div>
                    <div class="welcome-box__right">
                        <strong>{{section.settings.top_id}}</strong>
                        <span>{{section.settings.bottom_id}}</span>
                    </div>
                </div>


            </div>
        </div>
        
    </div>

    <div class="container">
        <div class="welcome-box__image">
            {% if section.settings.image_id %}
                <img class="lazyload" data-src="{{ section.settings.image_id | img_url: 'master' }}" alt="{{ section.settings.image_id.alt }}">
            {% endif %}
        </div>
        <div class="welcome-box__desc">
            {{ section.settings.text_id }}
        </div>
        <!-- <a href="{{section.settings.btn_link}}" class="btn">{{section.settings.btn_text}}</a> -->
    </div>
    <div class="collection-products__footer">
        <a class="btn" href="{{section.settings.btn_link}}">SHOP COLLECTION</a> 
    </div>

</section>
<style>
    .welcome-box{padding:0 !important;margin-bottom:130px}
    @media (max-width: 991.98px){.welcome-box{margin-bottom:80px}}
    @media (max-width: 767.98px){.welcome-box{margin-bottom:18px}}
    .welcome-box>.container{position:relative}
    .welcome-box__video{width:100%;position:relative;overflow:hidden;max-height:670px;min-height:670px;margin-bottom:56px}
    @media (max-width: 991.98px){.welcome-box__video{display:flex;justify-content:center;align-items:center;max-height:592px;min-height:calc(100vh - 60px)}}
    @media (max-width: 767.98px){.welcome-box__video{max-height:200px;min-height:40vh;margin-bottom:32px}}
    @media (max-width: 575px){.welcome-box__video{min-height:32vh}}.welcome-box .container{min-height:inherit;position:relative}.welcome-box__text{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;padding:0 15px}.welcome-box__box{display:flex;align-items:center}.welcome-box__left{max-width:180px;width:100%;margin-right:40px}
    @media (max-width: 767.98px){.welcome-box__left{max-width:70px;margin-right:15px}}.welcome-box__left img{width:100%}.welcome-box__right{text-align:left}.welcome-box__right strong{display:block;color:#fff;font-family:"Proxima Nova Lt";font-size:86px;font-weight:300;font-style:normal;letter-spacing:6.45px;line-height:normal;text-align:left;text-transform:uppercase}
    @media (max-width: 991.98px){.welcome-box__right strong{font-size:54px}}
    @media (max-width: 767.98px){.welcome-box__right strong{font-size:31px}}
    @media (max-width: 575px){.welcome-box__right strong{letter-spacing:0}}.welcome-box__right span{color:#c9fffb;font-family:var(--font-heading-stack);font-size:34px;font-weight:700;font-style:normal;letter-spacing:3.4px;line-height:normal;text-align:left;text-transform:uppercase}
    @media (max-width: 991.98px){.welcome-box__right span{font-size:22px}}
    @media (max-width: 767.98px){.welcome-box__right span{font-size:13px;letter-spacing:1.4px}}.welcome-box__image{position:absolute;left:0;right:0;top:-280px;max-width:640px;margin:auto}
    @media (max-width: 767.98px){.welcome-box__image{max-width:83vw;top:-245px}}
    @media (max-width: 575px){.welcome-box__image{top:-150px}}.welcome-box__image img{width:100%}.welcome-box__desc{margin-top:190px;color:#282828;font-family:"Proxima Nova Lt";font-size:21px;font-weight:300;font-style:normal;letter-spacing:normal;line-height:36px;text-align:center}
    @media (max-width: 767.98px){.welcome-box__desc{font-size:16px;line-height:28px}}
    @media (max-width: 575px){.welcome-box__desc{margin-top:120px}}.welcome-box .btn{display:none !important;align-items:center;justify-content:center;font-family:"Proxima Nova Bold";width:100%;max-width:350px;min-height:50px;font-size:20px !important;font-weight:bold;background-color:#83cad2 !important;color:#fff;text-transform:uppercase;padding:0 !important;margin:45px auto 0}
    @media (max-width: 991.98px){.welcome-box .btn{display:flex !important}}.welcome-box video{position:absolute;right:0;top:0;min-width:100%;min-height:100%;width:auto;height:auto;background-size:cover}
    @media (max-width: 991.98px){.welcome-box video{right:auto;margin:auto}}
</style>
{% schema %}

{
    "name": "Welcome box",
    "settings": [
        {
            "type": "text",
            "id": "video_url",
            "label": "Video link"
        }, {
            "type": "image_picker",
            "id": "logo_id",
            "label": "Select image logo"
        }, {
            "type": "text",
            "id": "top_id",
            "label": "Text top"
        }, {
            "type": "text",
            "id": "bottom_id",
            "label": "Text bottom"
        }, {
            "type": "image_picker",
            "id": "image_id",
            "label": "Select image"
        }, {
            "type": "richtext",
            "id": "text_id",
            "label": "Text info"
        },
        {
            "type": "url",
            "id": "btn_link",
            "label": "Mobile link button"
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Mobile text button"
        }
    ],
    "presets": [
        {
            "name": "Welcome box",
            "category": "New"
        }
    ]
}

{% endschema %}
